site_name: markdown-checker
site_description: "markdown-checker documentation"
site_author: "John Aziz"

# Repository
repo_name: "markdown-checker"
repo_url: "https://github.com/john0isaac/markdown-checker"

docs_dir: ./source

# Copyright
copyright: "Copyright &copy; John Aziz"

theme:
  name: material
  language: "en"
  highlightjs: true

watch:
  - ../src/markdown_checker

plugins:
- search
- autorefs
- mkdocstrings:
    handlers:
      python:
        paths: [../src]
        options:
          show_source: false
          show_root_full_path: false
          show_category_heading: true

nav:
  - About: index.md
  - Usage: usage.md
  - Automate: automate.md
