name: Run Python Matrix Tests

on:
  workflow_dispatch:
  push:
    branches: [ main, dev ]

permissions:
  contents: read

jobs:
  python-matrix-tests:
    if: ${{ always() }} # Always run even if a matrix candidate fails
    name: Python ${{ matrix.python_version }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest]
        python_version: ["3.9", "3.10", "3.11", "3.12"]
    steps:
    - uses: actions/checkout@v5
    - uses: actions/setup-python@v5
      with:
        python-version: ${{ matrix.python_version }}
        architecture: x64
    - name: Install dependencies
      run: |
        python3 -m pip install --upgrade pip
        python3 -m pip install -e .

    - name: Clone Testing Repositories
      run: |
        git clone https://github.com/Azure-Samples/azure-search-openai-demo
        git clone https://github.com/microsoft/Phi-3CookBook

    - name: Test Check Broken Paths in azure-search-openai-demo
      if: always()
      run: |
        cd azure-search-openai-demo
        markdown-checker -d . -f check_broken_paths -gu ''
    - name: Test Check Broken Paths in Phi-3CookBook
      if: always()
      run: |
        cd Phi-3CookBook
        markdown-checker -d . -f check_broken_paths -gu ''

    - name: Test Check URLs Country locale in azure-search-openai-demo
      if: always()
      run: |
        cd azure-search-openai-demo
        markdown-checker -d . -f check_urls_locale -gu ''
    - name: Test Check URLs Country locale in Phi-3CookBook
      if: always()
      run: |
        cd Phi-3CookBook
        markdown-checker -d . -f check_urls_locale -gu ''

    - name: Test Check Broken URLs in azure-search-openai-demo
      if: always()
      run: |
        cd azure-search-openai-demo
        markdown-checker -d . -f check_broken_urls -gu ''
    - name: Test Check Broken URLs in Phi-3CookBook
      if: always()
      run: |
        cd Phi-3CookBook
        markdown-checker -d . -f check_broken_urls -gu ''
