name: Run Python Type, lint and format checks

on:
  workflow_dispatch:
  push:
    branches: [ main ]
    paths:
      - '**.py'

  pull_request:
    branches: [ main ]
    paths:
      - '**.py'

permissions:
  contents: read

jobs:
  python-type-check:
    if: ${{ always() }} # Always run even if a matrix candidate fails
    name: Python ${{ matrix.python_version }} - Check Type - ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest]
        python_version: ["3.8", "3.9", "3.10", "3.11", "3.12"]
    steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-python@v5
      with:
        python-version: ${{ matrix.python_version }}
        architecture: x64
    - name: Install dependencies
      run: |
        python3 -m pip install --upgrade pip
        python3 -m pip install -e '.[dev]'

    - name: Run type check
      run: python -m mypy .

  python-lint-check:
    if: ${{ always() }} # Always run even if a matrix candidate fails
    name: Python ${{ matrix.python_version }} - Check Linting - ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest]
        python_version: ["3.8", "3.9", "3.10", "3.11", "3.12"]
    steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-python@v5
      with:
        python-version: ${{ matrix.python_version }}
        architecture: x64
    - name: Install dependencies
      run: |
        python3 -m pip install --upgrade pip
        python3 -m pip install -e '.[dev]'

    - name: Run lint check
      run: python -m ruff check .

  python-format-check:
    if: ${{ always() }} # Always run even if a matrix candidate fails
    name: Python ${{ matrix.python_version }} - Check formatting - ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest]
        python_version: ["3.8", "3.9", "3.10", "3.11", "3.12"]
    steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-python@v5
      with:
        python-version: ${{ matrix.python_version }}
        architecture: x64
    - name: Install dependencies
      run: |
        python3 -m pip install --upgrade pip
        python3 -m pip install -e '.[dev]'

    - name: Run format check
      run: python -m black .
