name: Run Python linter and formatter

on:
  workflow_dispatch:
  push:
    branches: [ main ]
    paths:
      - '**.py'

  pull_request:
    branches: [ main ]
    paths:
      - '**.py'

permissions:
  contents: read

jobs:
    python-types-lint-format:
        name: Python ${{ matrix.python_version }} - ${{ matrix.test}} Check - ${{ matrix.os }}
        runs-on: ${{ matrix.os }}
        strategy:
          matrix:
            os: [ubuntu-latest]
            python_version: [3.8, 3.9, 3.10, 3.11, 3.12]
            test: [types, lint, format]
            command: ["mypy .", "ruff check .", "black ."]
        steps:
        - uses: actions/checkout@v4
        - uses: actions/setup-python@v5
          with:
            python-version: ${{ matrix.python_version }}
            architecture: x64
        - name: Install dependencies
          run: |
            python3 -m pip install --upgrade pip
            python3 -m pip install -e '.[dev]'

        - name: Run ${{ matrix.test }} check
          run: python -m ${{ matrix.command }}
