name: Release to Pypi

on:
  release:
    types:
      - published
  workflow_dispatch:

env:
  DEFAULT_PYTHON: 3.9

jobs:
  release-pypi:
    name: Upload release to PyPI
    runs-on: ubuntu-latest
    steps:
      - name: Check out code from Github
        uses: actions/checkout@v4
      - name: Set up Python ${{ env.DEFAULT_PYTHON }}
        id: python
        uses: actions/setup-python@v4
        with:
          python-version: ${{ env.DEFAULT_PYTHON }}
      - name: Install requirements
        run: python -m pip install build twine
      - name: Build distributions
        run: python -m build
      - name: Upload to PyPI
        env:
          TWINE_REPOSITORY: pypi
          TWINE_USERNAME: __token__
          TWINE_PASSWORD: ${{ secrets.PYPI_API_TOKEN }}
        run: |
          twine upload --verbose dist/*
